<div class="row">
    <div class="col-md-4">
        <img 
            src="http://placehold.it/250x200" 
            alt="streamThumb" 
            class="streamThumb"
            ng-click="func()">
    </div>
        <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
        <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
        <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
        <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
        <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
        <div class="col-md-4">
        <img src="http://placehold.it/250x200" alt="streamThumb" class="streamThumb">
    </div>
</div>