
/*****************
    MAIN
*****************/

* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}
body { 
    font: 13px Helvetica, Arial;
    background-color: mediumpurple;
}

form input:nth-of-type(1) { 
    border: 0; padding: 10px; width: 80%;
}
form input:nth-of-type(2) { 
    width: 20%; background: rgb(130, 224, 255); border: none; padding: 10px; margin:0px;
}
#messages { 
    list-style-type: none; margin: 0; padding: 0; 
}
#messages li { 
    padding: 5px 10px;
}
#messages li:nth-child(odd) { 
    background: #eee; 
}

#logo {
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 72px;
    font-family: 'Orbitron', Times, serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.streamThumb {
    height: 200px;
    width: 250px;
}
.title {
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Orbitron', Times, serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 10px 0px;
}

/*****************
    STREAM
****************/

div .col-md-4 {
    padding: 0px;
    overflow-y:hidden;
}

#streamTitle {
    display: inline-block;
}
.socialLogo {
    height: 75px;
    width: 75px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 25px;
}
#chat-container {
    margin-top: 27px;
    width:100%;
    background: #f7f7f7;
    padding:0px;
    height: 480px;
}

#chat {
    position: absolute;
    width:100%;
    bottom: 0px;
}

.streamHead {
    display: inline;
}

/****************
    FOOTER
****************/
.dev {
    color: white;
    margin-top: 20px;
}

.footer h4 {
    margin-top: 550px;
}