<div class="streamList row">
  <div class="col-md-3 guide" ng-repeat="stream in myStreams">
    <a href="#/streams/{{$index}}">
    	<img ng-src="{{stream.image}}" alt="streamThumb" class="streamThumb">
      <h3 class="title"> {{stream.name}} </h3>
    </a>
  </div>
  <div class="footer">
    <h4>The Team</h4>
    <div class="row">
      <div class="col-md-2">
        <a href="https://twitter.com/ericbezanson">
          <img class="socialLogo" src="img/twitterLogo.svg" alt="twitch logo">
          <p class="dev">Eric Bezanson</p> 
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
          <img class="socialLogo" src="img/twitterLogo.svg" alt="twitch logo">
          <p class="dev">Tyler Rudoplh</p>
        </a>
      </div>
    </div>
  </div>
</div>