<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="streamHead">    
                <h2 id="streamTitle">{{stream.name}}</h2>
                <a href="{{stream.twitch}}">
                    <img class="socialLogo" src="img/twitchLogo.svg" alt="twitch logo">
                </a>
                <a href="{{stream.twitter}}">
                    <img class="socialLogo" src="img/twitterLogo.svg" alt="twitch logo">
                </a>
            </div>
            <iframe
                src="{{stream.stream | trustUrl }}"
                height="480"
                width="720"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
            </iframe>
        </div>
        <div class="col-md-4">    
            <h2> This is a chat section </h2>

            <div id="chat-container" style="background:white">
                    <form id="chat">
                        <ul>
                            <li ng-repeat="m in messages">{{m.text}} </li>
                        </ul>
                        <input ng-model="message" autocomplete="off"/>
                        <input type="submit" ng-click="sendMessage()"/>
                    </form>
            </div>
        </div>
    </div>
</div>
